@model HomeViewModel

<partial name="_Carousel" />

<h2>Albums of the week</h2>
<h4>Our weekly selection - just for you!</h4>

<div class="row">
    @foreach (var album in Model.AlbumsOfTheWeek)
    {
        <partial name="_AlbumCard" model="album" />
    }
</div>